body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar {
    margin-top: 2%;
    width: 300px;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.profile-img {
    width: 100px;
    border-radius: 50%;
}

.role {
    font-size: 14px;
    color: #ffffff;
}

.contact-info p {
    font-size: 14px;
    color: #ddd;
}

.separator {
    height: 2px;
    background-color: #333;
    margin: 15px 0;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-item .social-link {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

social-item .social-link:hover {
    color: #f39c12;
}

main {
    margin-top: 2%;
    flex: 1;
    max-width: 800px;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    color: #f39c12;
}

.project, .job {
    background-color: #2C2C2C;
    padding: 15px;
    border-radius: 35px;
    margin-bottom: 12px;
}

.project-icon, .job-icon {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 20px; 
    line-height: 1; 
}

.tech-stack .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.tech-stack .icons img {
    width: 50px;
}

.download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-cv:hover {
    background-color: #e67e22;
}

.experience {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
}

.job-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.job-header h3 {
    flex: 1; 
    margin: 0; 
}

.experience-img {
    width: 200px; 
    height: 50px;
    object-fit: contain;
    margin-left: 250px;
}
